.container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding: 0;

}

.container li {
  list-style: none;
}

.container li button {
  width: 100%;
}
